# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store
Library/
Temp/
*.csproj
*.pidb
*.sln
*.unityproj
*.userprefs
*.sln

apocalyptia-csharp.sln

apocalyptia.sln

apocalyptia.sln

*.csproj

*.csproj

Assets/Scripts/GameplayEvents.cs.meta

*.sln

Library/CurrentLayout.dwlt

Library/InspectorExpandedItems.asset

Library/ScriptAssemblies/Assembly-CSharp.dll

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/assetDatabase3

Library/guidmapper

Library/guidmapper

Library/metadata/13/13d875f2f3a31494ea56efb869f185dd

Library/metadata/14/14c9e48cccab2c9459856ab971a5d229

Library/metadata/33/33ff23ad2ba554bcdbd79ed5fc1e51df

Library/metadata/51/51e154d1c89632347b538f974d0ed09e

Library/metadata/66/6656d74d81a5a784abb91aea42c654f0

Library/metadata/74/741b139df0d955c4f861fd2044e26a00

Library/metadata/96/963dd17ed9b7f324895681fffbf9c7ba

Library/metadata/a6/a625adb7a0dabdc44b7d007bb86c04e9

Library/metadata/f9/f9c4c6bf825612e4d870c3dabb7eefce

apocalyptia-csharp.sln

apocalyptia.sln

Assets/Scripts/ResourceHouseScript.cs.meta

Assets/Prefabs/Buildings/Resource House.prefab.meta

Assets/Prefabs/Buildings/Tower.prefab.meta

Assets/Scripts/TowerScript.cs.meta

Assets/Textures/DEBUG/Round_Tower.jpg.meta

Assets/Textures/DEBUG/windmill-md.png.meta

Library/CurrentLayout.dwlt

Library/CurrentLayout.dwlt

Library/expandedItems

Library/expandedItems

Library/CurrentLayout.dwlt

Library/expandedItems

Library/CurrentLayout.dwlt

Library/expandedItems
