# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store
Library/
Temp/
*.csproj
*.pidb
*.sln
*.unityproj
*.userprefs
*.sln

apocalyptia-csharp.sln

apocalyptia.sln

apocalyptia.sln

*.csproj

*.dwlt

Library/ScriptAssemblies/Assembly-CSharp.dll

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/assetDatabase3

Library/guidmapper

Library/guidmapper

Library/metadata/13/13d875f2f3a31494ea56efb869f185dd

Library/metadata/14/14c9e48cccab2c9459856ab971a5d229

Library/metadata/33/33ff23ad2ba554bcdbd79ed5fc1e51df

Library/metadata/51/51e154d1c89632347b538f974d0ed09e

Library/metadata/66/6656d74d81a5a784abb91aea42c654f0

Library/metadata/74/741b139df0d955c4f861fd2044e26a00

Library/metadata/96/963dd17ed9b7f324895681fffbf9c7ba

Library/metadata/a6/a625adb7a0dabdc44b7d007bb86c04e9

Library/metadata/f9/f9c4c6bf825612e4d870c3dabb7eefce

*.sln

Assembly-CSharp-vs.csproj

Assembly-CSharp.csproj

*.csproj

Library/CurrentLayout.dwlt

Library/ScriptAssemblies/Assembly-CSharp.dll

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/assetDatabase3

Library/guidmapper

Library/metadata/13/13d875f2f3a31494ea56efb869f185dd

Library/metadata/13/13d875f2f3a31494ea56efb869f185dd

Library/metadata/14/14c9e48cccab2c9459856ab971a5d229

Library/metadata/14/14c9e48cccab2c9459856ab971a5d229

Library/metadata/33/33ff23ad2ba554bcdbd79ed5fc1e51df

Library/metadata/51/51e154d1c89632347b538f974d0ed09e

Library/metadata/66/6656d74d81a5a784abb91aea42c654f0

Library/metadata/74/741b139df0d955c4f861fd2044e26a00

Library/metadata/96/963dd17ed9b7f324895681fffbf9c7ba

Library/metadata/a6/a625adb7a0dabdc44b7d007bb86c04e9

Library/metadata/f9/f9c4c6bf825612e4d870c3dabb7eefce

Library/metadata/f9/f9c4c6bf825612e4d870c3dabb7eefce

*.sln

apocalyptia-csharp.sln

apocalyptia.sln

*.csproj

ProjectSettings/TagManager.asset

apocalyptia-csharp.sln

*.csproj

*.csproj

Library/InspectorExpandedItems.asset

Library/ScriptAssemblies/Assembly-CSharp.dll

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/guidmapper

Library/guidmapper

Library/metadata/13/13d875f2f3a31494ea56efb869f185dd

Library/metadata/14/14c9e48cccab2c9459856ab971a5d229

Library/metadata/33/33ff23ad2ba554bcdbd79ed5fc1e51df

Library/metadata/51/51e154d1c89632347b538f974d0ed09e

Library/metadata/66/6656d74d81a5a784abb91aea42c654f0

Library/metadata/74/741b139df0d955c4f861fd2044e26a00

Library/metadata/96/963dd17ed9b7f324895681fffbf9c7ba

Library/metadata/a6/a625adb7a0dabdc44b7d007bb86c04e9

Library/metadata/f9/f9c4c6bf825612e4d870c3dabb7eefce

apocalyptia-csharp.sln

apocalyptia.sln

*.csproj

*.sln

*.csproj

*.csproj

Library/CurrentLayout.dwlt

Library/ScriptAssemblies/Assembly-CSharp.dll

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/assetDatabase3

Library/guidmapper

Library/metadata/13/13d875f2f3a31494ea56efb869f185dd

Library/metadata/14/14c9e48cccab2c9459856ab971a5d229

Library/metadata/33/33ff23ad2ba554bcdbd79ed5fc1e51df

Library/metadata/51/51e154d1c89632347b538f974d0ed09e

Library/metadata/66/6656d74d81a5a784abb91aea42c654f0

Library/metadata/74/741b139df0d955c4f861fd2044e26a00

Library/metadata/96/963dd17ed9b7f324895681fffbf9c7ba

Library/metadata/a6/a625adb7a0dabdc44b7d007bb86c04e9

Library/metadata/f9/f9c4c6bf825612e4d870c3dabb7eefce

*.sln

*.csproj

Library/CurrentLayout.dwlt

Library/ScriptAssemblies/Assembly-CSharp.dll

Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Library/assetDatabase3

Library/guidmapper

Library/metadata/13/13d875f2f3a31494ea56efb869f185dd

Library/metadata/14/14c9e48cccab2c9459856ab971a5d229

Library/metadata/33/33ff23ad2ba554bcdbd79ed5fc1e51df

Library/metadata/51/51e154d1c89632347b538f974d0ed09e

Library/metadata/66/6656d74d81a5a784abb91aea42c654f0

Library/metadata/74/741b139df0d955c4f861fd2044e26a00

Library/metadata/96/963dd17ed9b7f324895681fffbf9c7ba

Library/metadata/a6/a625adb7a0dabdc44b7d007bb86c04e9

Library/metadata/f9/f9c4c6bf825612e4d870c3dabb7eefce

*.sln

*.csproj

*.csproj

Library/AssetServerCacheV3

*.asset

Library/ScriptMapper

Library/expandedItems

Library/metadata/70/706b12dcea59c4759b5ef920bfe27eff

Library/metadata/d0/d037eccd78b6a4670a4be5d6174129b8

*.sln

*.csproj

*.unityproj

*.sln

*.unityproj

Library/ScriptMapper

Library/expandedItems

Library/metadata/70/706b12dcea59c4759b5ef920bfe27eff

Library/metadata/d0/d037eccd78b6a4670a4be5d6174129b8

*.sln

*.unityproj

Library/ScriptMapper

Library/expandedItems

Library/metadata/70/706b12dcea59c4759b5ef920bfe27eff

Library/metadata/d0/d037eccd78b6a4670a4be5d6174129b8

*.sln

*.csproj

*.unityproj

*.sln

*.csproj

*.unityproj

*.sln

*.csproj

*.unityproj

*.sln
